
    *{
        margin: 0;padding: 0;
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
      }
      
      ul {list-style-type: none;}
      a { text-decoration: none;}
      html, body{ 
          /*width: 1920px; */
          height: 100%;
    }
     
      /* body { overflow: hidden; } */
      section {
        /* position: relative; */
        width: 1200px;
        height: 100%;
        outline: 1px solid purple;
        background: #f0f;
        margin: 0 auto;
      } 
      h1 { 
        font-size: 80px;
        color: #fff;
      }
      /* .container {
        position: relative;
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        outline: 1px solid red;
      } */

      /* 메인메뉴 */
      #gnb {
        position: fixed;
        width: 100%;
        margin: 0 auto;
        left: 0; top: 0;
        height: 60px; 
        font-size: 18px;
        text-align: right;
        padding-right: 30px;
        background: #fff;
        z-index: 999;
        box-shadow: 1px 1px 10px #ddd;
      }

      #gnb a > img {
          /* outline: 1px solid red; */
          position: absolute;
          left: 60px;
          margin-top: 5px;
         
          
      }
      #gnb ul li {
        position: relative;
        /* outline: 1px solid red; */
      }

      #gnb li{
        display: inline-block;
        margin: 15px;
        margin-right: 50px;
      }
    
      #gnb li a {
          font-weight: bold;
          color: #ccc;
      }
      #gnb li a:hover {
        color: #4e8bc8;
    }
    
      #pager ul li a{
        color: #ccc;
      }
      /* 섹션 1 home */

      #s1{
        display: flex;
        justify-content: center;
        align-items: center; /* 영역 안에서 정렬하는 모던코드 */
        padding: 60px;
        height: 100%;
      }
      #s1 h1 {
        /* position: absolute;
        top: 250px;
        left: 40%; */
        text-align: center;
        color: #000;
        font-size: 70px;
        font-weight: bold;
        font-family: 'Shadows Into Light', cursive;
        z-index: 99;
      }

      #s1 > img.name {
          position: absolute;
          left: 70px;
          top: 800px;
    }
     #s1 > img.web {
         position: absolute;
         z-index: 1;
         left: 70px;
         top: 100px;
     }

     #s1 > img.year {
         position: absolute;
         right: 80px;
         top: 100px;
    }

    #s1 > img.circle {
        position: absolute;
        right: 80px;
        top: 1000px;
    }
    #s1 > img.cloud1 {
        position: absolute;
        min-width: 250px;
        min-height: 210px;
        top: 300px;

        animation-name: cloud1;
        animation-duration: 30s;
        animation-iteration-count: infinite;
    }
    #s1 > img.cloud2 {
        position: absolute;
        min-width: 357px;
        min-height: 268px;
        top: 20px;

        animation-name: cloud2;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    @keyframes cloud1 {
        from {
            right: 200px;
            transform: rotate(2.9);
        }
        
        50% {
            right: 70px;
        }
        to {
            right: 200px;
            transform: rotate(0deg);
        }
    }

    @keyframes cloud2 {
        from {
            left: 150px;
            transform: rotate(2.9);
        }
        
        50% {
            left: 100px;
        }
        to {
            left: 150px;
            transform: rotate(0deg);
        }
    }
     /* end 섹션 1 */


    /* 섹션 2 (about) */

      #s2{
        padding-top: 60px;
        background: #fff;
      }

      #s2 h1 {
        /* background: #f0f; */
        padding: 30px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #000;
        font-family: 'Shadows Into Light', cursive;
      }
      #s2 .about_box {
        position: relative;
        overflow: hidden;
        
      }
      #s2 .about_box .face_box{
         
        float: left;
        width: 50%;
        text-align: right;
        padding: 50px;
      }
      #s2 .about_box p {
        width: 50%;
        float: right;
        font-size: 14px;
        line-height: 24px;
        padding: 50px;
      }

     #s2 .name li {
       float: left;
       background: #ccc;
       font-size: 12px;
     }

     #s2 .name li span {
       font-size: 14px;
       font-weight: bold;
       color: #3c6996;
     }

     #s2 .skills li {
       font-size: 14px;
       font-weight: bold;
       color: #3c6996;
       z-index: 3;
       
     }

     #s2 .license li {
       /* position: absolute;
       top: 990px;
       left: 64.6%; */
       font-size: 14px;
       font-weight: bold;
       color: #3c6996;
       z-index: 3;
     }

     #s2 img.circle_1 {
      /* position: absolute;
      top: 990px;
      left: 52.5%; */
    }

    #s2 img.circle_2 {
      /* position: absolute;
      top: 990px;
      left: 67.5%; */
    }


     #s2 > ul.other {
       /* outline: 1px solid red; */
       /* position: absolute;
       left: 29%;
       top: 1035px; */
       line-height: 20px;
       font-size: 12px;
     }
     #s2 > ul.other span{
       font-weight: bold;
       font-size: 14px;
     }

     #s2 > ul.other2 {
     /* outline: 1px solid red; */
      /* position: absolute;
      left: 50.7%;
      top: 1035px; */
      line-height: 20px;
      font-size: 12px;
    }
    
    #s2 > ul.other3 {
      /* outline: 1px solid red; */
      /* position: absolute;
      left: 64.6%;
      top: 1035px; */
      line-height: 20px;
      font-size: 12px;
    }
  /* 섹션 2 end */


    /* 섹션 3  */
    
    #s3 {
      padding: 60px;
    }
     
    #s3 h1 {
        padding: 30px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #000;
        font-family: 'Shadows Into Light', cursive;
       }

       #s3 .web img{
         
         
         width: 450px;
         
       }
       #s3 .web h2 {
         
         
         font-size: 20px;
       }

       #s3 .web h2 span {
         font-size: 12px;
         font-weight: 250;
       }
       #s3 .web ul {
         
         
         font-size: 14px;
         font-weight: bold;
       }

       #s3 .web ul li.skills {
         color: #ccc;
       }


       #s3 .cafe img{
         
        
        width: 450px;
        
      }
      #s3 .cafe h2 {
        
       
        font-size: 20px;
        text-align: right;
      }

      #s3 .cafe h2 span {
        font-size: 12px;
        font-weight: 250;
      }
      #s3 .cafe ul {
        
        
        font-size: 14px;
        font-weight: bold;
        text-align: right;
      }

      #s3 .cafe ul li.skills {
        color: #ccc;
      }

      #s3 .animal img{
         
       
        width: 450px;
        
      }
      #s3 .animal h2 {
        
        
        font-size: 20px;
       
      }

      #s3 .animal h2 span {
        font-size: 12px;
        font-weight: 250;
      }
      #s3 .animal ul {
        
       
        font-size: 14px;
        font-weight: bold;
        
      }

      #s3 .animal ul li.skills {
        color: #ccc;
      }

      #s3 a.link_fendi{
        
        font-size: 12px;
        color: #666;
        padding: 10px 20px;
        border: 1px solid #666;
      }

      #s3 a.link_cafe {
       
        font-size: 12px;
        color: #666;
        padding: 10px 20px;
        border: 1px solid #666;
      }


      #s3 a.link_animal {
        
        font-size: 12px;
        color: #666;
        padding: 10px 20px;
        border: 1px solid #666;
      }

     
 
    
    
    /* 섹션 3 end */


      #s4 {
        
          padding: 60px;
        }
         
      #s4 h1 {
            padding: 30px;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: #000;
            font-family: 'Shadows Into Light', cursive;
           }
    
      
      /* 우측 페이지 인디케이터 */
      #pager {
        position: fixed;
        top: 50%;
        right: 20px;
        z-index: 99;
      }
      #pager li.on a {
        color: #7e7e7e;
      }
  

